<!doctype html>
<html lang="{{ site.lang }}">
<head>{% include head.html %}</head>
<body>
  {% include header.html %}
  <main class="wrap site-main">
    <div class="content">{{ content }}</div>
    {% include sidebar.html %}
  </main>
  {% include footer.html %}
  {% include context-menu.html %}
  <script type="module" src="{{ '/assets/js/gallery.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
  <script src="{{ '/assets/js/context-menu.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
  <script src="{{ '/assets/js/navigation.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
  <script src="{{ '/assets/js/scroll-reveal.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
  <script id="site-quotes" type="application/json">{{ site.data.quotes | jsonify }}</script>
  <script src="{{ '/assets/js/quotes.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
  {% if page.url == '/' %}<script src="{{ '/assets/js/home-feed.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>{% endif %}
  {% if site.data.analytics and site.data.analytics.cloudflare_beacon %}<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token": "{{ site.data.analytics.cloudflare_beacon }}"}' data-cf-beacon-csp-insights="false"></script>{% endif %}
</body>
</html>
