<!doctype html>
<html lang="{{ site.lang }}">
<head>{% include head.html %}</head>
<body>
  {% include header.html %}
  <main class="wrap site-main">
    <div class="content">{{ content }}</div>
    {% include sidebar.html %}
  </main>
  {% include footer.html %}
  {% include context-menu.html %}
  <script type="module" src="{{ '/assets/js/gallery.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
  <script src="{{ '/assets/js/context-menu.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
  {% if page.url == '/' %}<script src="{{ '/assets/js/home-feed.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>{% endif %}
</body>
</html>
